In [ ]:
import os
os.chdir('MorphologyMeasurements/Code')

In [6]:
import sqlite3

from rdz_sims import Sims as RDZSims

# Assuming rdz_sims.py is imported or the Sims dictionary is defined in the script
# from rdz_sims import Sims


def get_halo_types(db_path, sim_halos):
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()
    
    halo_types = {}
    
    for sim, details in sim_halos.items():
        halo_types[sim] = {}
        for halo_number in details['halos']:
            # Adjust the query if needed based on your database structure
            query = '''SELECT halo_type FROM halos WHERE halo_number = ?'''
            cursor.execute(query, (halo_number,))
            result = cursor.fetchone()
            
            # Debug: Print the query and result
            print(f"Query executed: {query} with halo_number={halo_number}, Result: {result}")
            
            if result:
                halo_types[sim][halo_number] = result[0]
            else:
                halo_types[sim][halo_number] = None

    conn.close()
    
    return halo_types


# Adjust the path to your database
db_path = '/data/REPOSITORY/e11Gals/romulus_dwarf_zooms/rom25_dwarf_zooms.db'

# Fetch the halo types for your simulations and halos
halo_types = get_halo_types(db_path, RDZSims)

# Do something with the halo_types, like printing them
print(halo_types)

Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=1, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=14, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=16, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=34, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=137, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=1, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=2, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=10, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=13, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=35, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=90, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=123, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=266, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=387, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=1, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=8, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=28, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=53, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=173, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=1, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=849, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=1, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=4, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=8, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=15, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=88, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=437, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=448, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=1, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=110, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=1, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=1, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=2, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=10, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=17, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=19, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=160, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=1, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=531, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=1, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=63, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=433, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=1, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=2, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=189, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=1, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=43, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=3050, Result: None
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=1, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=31, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=64, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=687, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=1, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=5, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=7, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=54, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=122, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=280, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=282, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=794, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=1, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=1, Result: (0,)
Query executed: SELECT halo_type FROM halos WHERE halo_number = ? with halo_number=42, Result: (0,)
{'r431': {1: 0, 14: 0, 16: 0, 34: 0, 137: 0}, 'r442': {1: 0, 2: 0, 10: 0, 13: 0, 35: 0, 90: 0, 123: 0, 266: 0, 387: 0}, 'r468': {1: 0, 8: 0, 28: 0, 53: 0, 173: 0}, 'r492': {1: 0, 849: 0}, 'r502': {1: 0, 4: 0, 8: 0, 15: 0, 88: 0, 437: 0, 448: 0}, 'r515': {1: 0, 110: 0}, 'r523': {1: 0}, 'r556': {1: 0, 2: 0, 10: 0, 17: 0, 19: 0, 160: 0}, 'r568': {1: 0, 531: 0}, 'r569': {1: 0, 63: 0, 433: 0}, 'r571': {1: 0, 2: 0, 189: 0}, 'r597': {1: 0, 43: 0, 3050: None}, 'r613': {1: 0, 31: 0, 64: 0, 687: 0}, 'r615': {1: 0, 5: 0, 7: 0, 54: 0, 122: 0, 280: 0, 282: 0, 794: 0}, 'r618': {1: 0}, 'r634': {1: 0, 42: 0}}